$dark: #323232;
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #999;
}
a{
    display: inline-block;
    &:hover{
        color: #fff;
        text-decoration: none;
    }
}
a,
li,
ul{
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.header{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 100px;
        width: 100%;
        height: 1px;
        background-color: #A1A1A1;
    }
}
.header__menu{
    position: relative;
}
.header__menu-btn{
    display: none;
    padding-top: 50px;
    width: 60px;
    margin: 0 auto;
    cursor: pointer;
    div{
        height: 3px;
        width: 60px;
        background-color: #fff;
        & + div{
            margin-top: 8px;
        }
    }

}
.header__menu-list{
        display: flex;
        justify-content: end;
        padding-top: 40px;
        li{
            padding-bottom: 39px;
            position: relative;
            a{
                transition: all 0.5s;
                &:hover::after{
                        content: '';
                        position: absolute;
                        top: 58px;
                        width: 100%;
                        height: 2px;
                        background-color: #fff;
                        display: block;
                    }
                }
            & + li{
                margin-left: 40px;
            }
        }
}
.header__inner{
    padding-top: 230px;
    text-align: center;
    margin: 0 auto;
    max-width: 830px;
    width: 100%;
    color: #ffffff;
}
.header__name{
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px;
}
.header__title{
    font-size: 48px;
    line-height: 64px;
    font-weight: 800;
    margin-bottom: 50px;
}
.header__btn{
    border-radius: 30px;
    padding: 13px 36px;
    line-height: 20px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    background-color: #4985FF;
}
.create__title{
    padding-top: 110px;
    text-align: center;
    max-width: 739px;
    width: 100%;
    margin: 0 auto;
    font-size: 36px;
    line-height: 53px;
    font-weight: 700;
    color: $dark;
    margin-bottom: 50px;
}
.create__text{
    max-width: 730px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.create__items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.create__item{
    display: flex;
    flex-wrap: wrap;
    & + .create__item{
        margin-left: 30px;
    }
}
.create__item-wrapper{
    width: 222px;
    margin-left: 17px;
}
.create__item-title{
    padding-top: 80px;
    font-weight: 600;
    font-size: 18px;
    color: #000;
    padding-bottom: 12px;
}
.create__item-text{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 55px;
}
.create__btn{
    text-align: center;
    margin-bottom: 105px;
    a{
        border-radius: 30px;
        padding: 13px 36px;
        line-height: 20px;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        background-color: #4985FF;
        color: #fff;
        max-width: 200px;
        width: 100%;
    }
}
.develop{
    background-color: #F6F6F8;
}
.develop__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
    border-bottom: 1px solid #E0E0E0;
}
.develop__inner-text{
    max-width: 490px;
    width: 100%;
}
.develop__inner-title{
    padding-top: 52px;
    font-size: 36px;
    font-weight: 700;
    line-height: 53px;
    color: $dark;
    padding-bottom: 40px;
}
.develop__inner-link{
    margin-top: 30px;
    color: #4985FF;
    text-decoration: underline;
    padding-bottom: 143px;
    &:hover{
        color: #4985FF;
    }
}
.develop__objects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.develop__object{
    display: flex;
    flex-wrap: wrap;
    max-width: 120px;
    width: 100%;
    padding-bottom: 70px;
    & + .develop__object{
        margin-left: 100px;
    }
    img{
        height: 27px;
        margin-top: 15px;
    }
}
.develop__object-num{
    margin-left: 20px;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
}
.develop__object-text{
    display: block;
    text-align: center;
}
.work{
    position: relative;
    
}
.work__bcg{
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 490px;
    z-index: -1;
}
.work__wrapper{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work__title{
    font-size: 36px;
    line-height: 53px;
    font-weight: 700;
    color: #fff;
    max-width: 540px;
    width: 100%;
    margin-bottom: 65px;
}
.work__btn{
    margin-top: 20px;
    text-align: center;
    max-width: 200px;
    height: 45px;
    width: 100%;
    border-radius: 30px;
     padding: 13px 36px;
     line-height: 20px;
     box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
     background-color: #4985FF;
    color: #fff;
}
.work__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 85px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 85px;
}
.work__item{
    max-width: 350px;
    width: 100%;
    img{
        width: 100%;
    }
}
.work__item + .work__item{
    margin-left: 30px;
}
.work__item-title{
    margin-top: 30px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    color: #000;
    margin-bottom: 30px;
    span{
        color: #4985FF;
    }
}
.work__item-btn{
    text-decoration: underline;
    color: #4985FF;
    margin-top: 30px;
}
.projects{
    background-color: #F6F6F8;
}
.projects__title{
    padding-top: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    color: #000;
    margin-bottom: 50px;
}
.projects__text{
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 70px;
}
.projects__images{
    display: flex;
    padding-bottom: 53px;
    justify-content: space-between;
    flex-wrap: wrap;
} 
.projects__btn{
    text-align: center;;
    a{
        text-align: center;
        max-width: 200px;
        height: 45px;
        width: 100%;
        border-radius: 30px;
        padding: 13px 36px;
        line-height: 20px;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        background-color: #4985FF;
        color: #fff;
    }
    padding-bottom: 130px;
}
.video{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 570px;
}
.video__inner{
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translate(-50%);
    img{
        position: relative;
    }
}
.video__btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mailing{
    padding-top: 165px;
}
.mailing-wrapper{
    border-top: 1px solid #E0E0E0;;
    padding-bottom: 85px;
}
.mailing__title{
    text-align: center;
    padding-top: 85px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    margin-bottom: 20px;
}
.mailing__text{
    text-align: center;
    margin-bottom: 30px;
}
.mailing__form{
    border: 1px solid #F2F2F2;
    margin: 0 auto;
    max-width: 489px;
    width: 100%;
    height: 45px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    input{
        border: none;
        width: 100%;
        padding: 9px 33px;
        font-size: 13px;
        line-height: 20px;
        &::placeholder{
            color: #999;
        }
    }
    button{
        border: none;
        background-color: #4985FF;
        max-width: 190px;
        width: 100%;
        height: 45px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        color: #fff;
        font-weight: 500;
    }
}
.mailing__paragraph{
    text-align: center;
    font-size: 13px;
    line-height: 20px;
}
.footer{
    background-color: #F6F6F8;
}
.footer__items{
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 70px;
    border-bottom: 1px solid #E0E0E0;
}
.footer__item-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    margin-bottom: 35px;
}
.footer__item-list{
    li{
        padding-left: 20px;
        position: relative;
        &::before{
            content: '';
            background-image: url(../images/content/Vector.png);
            position: absolute;
            top: 9px;
            left: 0;
            width: 5px;
            height: 9px;
        }
        & + li{
            margin-top: 30px;
        }
        a{
            color: #999;
            font-size: 14px;
            line-height: 22px;
        }
    }
}
.footer__text{
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
li.mail{
    position: relative;
    &::before{
        content: '';
        background-image: url(../images/content/mail.png);
        position: absolute;
        top: 7px;
        left: 0;
        width: 15px;
        height: 15px;
    }
}
li.phone{
    position: relative;
    &::before{
        content: '';
        background-image: url(../images/content/call.png);
        position: absolute;
        top: 7px;
        left: 0;
        width: 15px;
        height: 15px;
    }
}
li.adress{
    position: relative;
    &::before{
        content: '';
        background-image: url(../images/content/gps.png);
        position: absolute;
        top: 7px;
        left: 0;
        width: 15px;
        height: 15px;
    }
}

@media (max-width:1200px){
    .work__items{
        justify-content: center;
    }
    .work__item{
        margin-bottom: 30px;
    }
    .projects__images{
        img{
            width: 45%;
            margin-bottom: 30px;
        }
    }
    .projects__btn{
        padding-bottom: 40px;
    }
    .create__item + .create__item{
        margin-left: 0;
    }
}
@media (max-width:1000px){
    .footer__item-contacts{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    li.mail,
    li.phone,
    li.adress{
        &::before{
            display: none;
        }
    }
    .develop__inner-images{
        img{
            width: 100%;
        }
    }
    .work__wrapper{
        text-align: center;
    }
    .work__title{
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .work__btn{
        margin: 0 auto 30px;

    }
}
@media (max-width:991px){
    .work__item + .work__item{
        margin-left: 0;
    }
}
@media (max-width:768px){
    .develop__object{
        & + .develop__object{
        margin-left: 50px;
        }
    }
    .create__text {
        margin-bottom: 0px;
    }
    .develop__inner{
        padding-top: 40px;
        text-align: center;
    }
    .develop__inner-text{
        margin: 0 auto;
    }
    .develop__inner-link{
        padding-bottom: 50px;
    }
    .develop__inner-images{
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .work__wrapper{
        padding-top: 40px;
    }
    .work__items{
        padding-bottom: 0;
    }
    .projects__title{
        padding-top: 40px;
    }
    .header__menu-list{
        padding-top: 0;
        display: none;
        text-align: center;
        background-color: #A1A1A1;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        li + li{
            margin: 0;
        }
        li{
            padding: 0;
        }
        a{
            border-bottom: 1px solid #fff;
            width: 100%;
            padding-bottom: 10px;
            padding-top: 10px;
        }
    }
    .header__menu-btn{
        display: block;
    }
    .video__inner{
        position: relative;
        img{
            width: 100%;
        }
    }
    .footer__item{
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
        li::before{
            display: none;
        }
        .footer__item-list li{
            padding-left: 0px;
        }
    }
}
@media (max-width:660px){
    .header__title{
        font-size: 40px;
    }
    .header__inner {
        padding-top: 100px;
    }
    .header__title {
        margin-bottom: 30px;
    }
    .projects__images{
        img{
            margin: 0 auto 20px;
            width: 90%;
        }
    }
}
@media (max-width:400px){
    .mailing__form{
        width: 300px;
        input{
            max-width: 120px;
            padding: 9px 10px;
        }
        button{
            max-width: 130px;
        }
    }
}
@media (max-width:380px){
    .header__title{
        font-size: 30px;
    }
    .header__inner {
        padding-top: 40px;
    }
    .header__title {
        margin-bottom: 20px;
    }
    .develop__object{
        text-align: center;
        display: block;
        max-width: 380px;
        width: 100%;
        padding-bottom: 30px;
        & + .develop__object{
            margin-left: 0;
        }
    }
    .create__item{
        text-align: center;
        img{
            width: 100%;
        }
    }
    .create__item-wrapper{
        margin: 0 auto;
    }
    .work__title{
        font-size: 24px;
    }
    .mailing{
        padding-top: 0;
    }
}
